doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    script(src=root + '../lib/js/modernizr.js')
    link(href=root + 'aigis_assets/css/highlight/okadia.css', rel='stylesheet')
    link(href=root + 'aigis_assets/css/theme.css', rel='stylesheet')
    link(href=root + '../lib/css/styles.css', rel='stylesheet')
  body.drawer.drawer--left._drawer
    .all
      header.header
        include ./sidemenu
      main.main
        article.main__row
          .conts
            include ./components
      footer.footer
        .footer__row
          address.footer__add.footabr
            .footadr__cupyright
              span.footadr__mark &copy;
              | amiten Inc. All Rights Reserved.
    script(src=root + '../lib/js/scripts.js')
